<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Test Kairos with CLoudinary</title>
  <script type='text/javascript' src='../scripts/jquery-3.2.1.min.js'></script>
  <script type='text/javascript' src='../scripts/jquery.form.min.js'></script>
  <script type='text/javascript' src='../kairos/kairos.js'></script>
</head>

<body>
  <div>
    <h3>Test Cloudinary Retrieve Photos</h3>
    <form id='retrieveCloudinaryForm' action='/retrieveCloudinary' method='post'>
      <input type='submit' id='btn_retrieveCloudinary' value='Get Photos'/>
    </form>
  </div>
</body>

</html>
