<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Upload photos</title>
  <script src='Scripts/jquery-3.1.1.min.js'></script>
  <script src='Scripts/jquery.form.min.js'></script>
  <script>
    $(document).ready(function() {
      var options = {
        beforeSubmit: showRequest,
        afterSubmit: showResponse
      };
      $('#uploader').submit(function() {
        $(this).ajaxSubmit(options);
        return false; //idk why
      });
    });

    function showRequest(formData, jqform, options) {
      alert('Upload is starting...');
      return true;
    };

    function showResponse(responseText, statusText, xhr, $form) {
      alert('Status: ' + statusText + '\n\nResponse: \n' + responseText);
    };
  </script>
</head>
<body>
  <form id='uploader' enctype='multipart/form-data' action='/upload' method='post'>
    <input type='file' name='uploader' multiple />
    <input type='submit' name='submit' id='btnSubmit' value='upload'/>
  </form>
</body>
</html>
