<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Upload photos</title>
  <script type='text/javascript' src='../scripts/jquery-3.2.1.min.js'></script>
  <script type='text/javascript' src='../scripts/jquery.form.min.js'></script>
  <script type='text/javascript' src='../kairos/kairos.js'></script>
  <script type='text/javascript' src='../kairos/methodstest.js'></script>
</head>

<body>
  <div id='enterKeys'>
    <h3>Enter API Keys</h3>
    <form>
      APP ID: <input type='text' id='app_id' value=''>
       APP KEY: <input type='text' id='app_key' value=''>
      <input type='submit' id='btn_enterKeys' value='Enter'>
    </form>
  </div>
  <div id='checkAuth'>
    <p>Please enter API Keys</p>
  </div>

  <div id='methods'>
    <div id='retrieveCloudinary'>
      <h3>Test Cloudinary Retrieve Photos and Recognition</h3>
      <form id='retrieveCloudinaryForm'>
        Gallery Name: <input type='text' class='gallery-name' name='gallery_name' value=''>
        Event Name: <input type='text' class='event-name' name='event_name' value=''>
        <input type='submit' id='btn_retrieveCloudinary' value='Get Photos'/>
      </form>
    </div>

    <h3>Testing Kairos methods:</h3>

    <div id='enroll'>
      <h4>Enroll Subjects in Gallery</h4>
      <form id='enrollForm'>
        Image (local file): <input type='file' class='image-upload' name='image_upload' accept='application/x-zip-compressed,image/*' multiple />
        Gallery Name: <input type='text' class='gallery-name' name='gallery_name' value=''>
        Subject ID: <input type='text' class='subject-id' name='subject_id' value=''>
        <input type='submit' id='btn_enroll' value='Enter'>
      </form>
    </div>

    <div id='viewSubjectsInGallery'>
      <h4>View Subjects in Gallery</h4>
      <form id='viewSubjectsInGalleryForm'>
        Gallery name: <input type='text' class='gallery-name' name='gallery_name' value=''>
        <input type='submit' id='btn_viewSubjectsInGallery' value='Enter'>
      </form>
    </div>'

    <div id='recogniseImage'>
      <h4>Test for Image Recognition</h4>
      <form id='recogniseImageForm'>
        Image (local file): <input type='file' class='image-upload' name='image_upload' accept='application/x-zip-compressed,image/*' multiple />
        Gallery Name: <input type='text' class='gallery-name' name='gallery_name' value=''>
        <input type='submit' id='btn_recogniseImage' value='Enter'>
      </form>
    </div>

    <div id='upload'>
      <h4>Test Upload to Database</h4>
      <form id='uploader' enctype='multipart/form-data' action='/upload' method='post'>
        <input type='file' id='uploader' accept='application/x-zip-compressed,image/*' multiple />
        <input type='submit' name='submit' id='btnUpload' value='upload'/>
      </form>
    </div>
  </div>

  <div>
    <h4>Response:</h4>
    <div id='viewData'></div>
    <h4>Proceed with email?</h4>
    <div id='proceedCheck'>
      <form>
        Proceed with email! <input type='submit' name='submit' id='btn_proceedEmail' value='Proceed'/>
      </form>
    </div>
  </div>

</body>
</html>
