<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'>
  <title>Upload photos</title>
  <script src='/scripts/jquery-3.2.1.min.js'></script>
  <script src='/scripts/jquery.form.min.js'></script>
  <script src='/kairos/methods.js'></script>
  <script>
    $(document).ready(function() {
      console.log('Ducument ready!');
      var options = {
        beforeSubmit: showRequest,
        afterSubmit: showResponse
      };
      $('#uploader').submit(function() {
        $(this).ajaxSubmit(options);
        return false; //idk why
      });
    });

    function showRequest(formData, jqform, options) {
      alert('Upload is starting...');
      return true;
    };

    function showResponse(responseText, statusText, xhr, $form) {
      alert('Status: ' + statusText + '\n\nResponse: \n' + responseText);
    };
  </script>
</head>

<body>
  <div id='checkAuth'>
    <h3>Checking authentication...</h3>
  </div>
  <div id='methods'>
    <h3>Testing methods:</h3>
    <form id='uploader' enctype='multipart/form-data' action='/upload' method='post'>
      <input type='file' name='uploader' accept='application/x-zip-compressed,image/*' multiple />
      <input type='submit' name='submit' id='btnSubmit' value='upload'/>
    </form>
  </div>

</body>
</html>
